* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat';
  background-color: #560404;
  background: linear-gradient(180deg, rgba(61,15,15,1) 40%, rgba(32,0,0,1) 65%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_top {
  position: absolute;
  height: 3.5rem;
  width: 150px;
  background-color: #868585;
  color: #560404;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #560404;
  border-radius: 10px;
  transition: .3s ease-in-out;
}
.btn_top:hover{
  content: '\F231';
  letter-spacing: 2.5px;
  background-color: #560404;
  color: #f1f1f1;
  padding: 7px;
  border: 1px solid #f1f1f1;
}
.sidenav {
  height: auto;
  border-radius: 6px;
  width: 0;
  position: fixed;
  top: 35%;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidenav a {
  padding: 8px;
  width: auto;
  text-decoration: none;
  font-size: 20px;
  color: #602707;
  display: block;
  transition: 0.3s;
}
.navbtn{
  position: fixed;
  top: 50%;
}
.sidenav a:hover {
  padding: 10px;
  border:1px solid #602707;
  border-radius: 6px;
  color: #602707;
}

 .closebtn {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 25px !important;
  margin-left: 50px;
  padding: 5px 5px 0px 5px !important;
}

.openbtn {
  transition: all 0.3s ease;
  color: white;
  background-color: black;
  font-size: 15px;
  font-family:'Montserrat';
  padding: 10px;
  border:2px solid #560404;
  border-left: none;
  border-radius: 6px;
  height: 70px;
  margin-left: -1px;
  width: 100%;
}
.openbtn:hover {
  padding: 12px;
  background-color: #560404;
  color:#f1f1f1;
  border: 2px solid #f1f1f1;
  border-left: none;
  margin-left: -1px;
}
.closebtn:hover{
  background-color: #171717;
  color:#f1f1f1 !important;
  border:none !important;
  border-radius: 0px !important;
}
.p {
  font-size: 17px;
  font-weight: 100;
  font-style: italic;
}

.h {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
}

.p, .h {
  color: rgb(114, 0, 0);
  letter-spacing: 1.5px;
  line-height: 70%;
}

img {
  max-width: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: #171717;
}
.image {
  flex-basis: 15%
}
.text-heading {
  padding-left: 20px;
}
.column {
  float: left;
  padding: 10px;
}
.column.side {
  width: 10%;
}
.column.middle {
  width: 80%;
}

.col_text {
  float: left;
  padding: 10px;
  width: 50%;
  font-family: 'Inconsolata', monospace;
  letter-spacing: .5px;
}

.col_img {
  float: left;
  padding: 10px;
  width: 50%;
  flex-basis: 15%
}
a, a:active, a:hover{
  text-decoration: none;
  color: inherit;
}

.row_my:after {
  content: "";
  display: table;
  clear: both;
}
#chi_sono{
  background-color: #060606;
  color: #f1f1f1;
  margin: 150px auto 150px auto;
  text-align: center;
  padding-bottom: 100px;
}
.img_io{
  max-width: 100%;
  border: 2px solid #560404;
  border-radius: 6% 36% 6% 36%;
  box-shadow: 6px 10px 20px 9px #00000051;
}
h2{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-decoration:underline solid 3px #f1f1f1;
  text-underline-offset: 10px;
}
.big {
  color:#f1f1f1;
  text-align: center;
  margin: 150px auto 150px auto;
  width: 70%;
}
#skills{
  margin: 150px auto 150px auto;
  text-align: center;
  color: #f1f1f1;
  padding: 20px;
  border:2px solid #060606;
  border-radius:10px ;
  width: 70%;
  box-shadow: 6px 10px 20px 9px #00000051;
}
ul{
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
}
.social{
  display: flex; 
  justify-content: flex-end;
  margin-top: 70px;
}
.s{
  color:  #560404;
  font-size: 17px;
  transition: .3s ease-in-out;
}
.s:hover{
  color: #f1f1f1;
}
li{
  padding: 5px;
}
.border-d{
  border-right:dotted 2px #f1f1f1;
}
@media (max-width: 650px) {
#skills, .col_text, .col_img, .big,  .column.side,
.column.middle {
    width: 100%;
  }
  .border-d{
    border: none;
  }
  body{
    padding: 5px;
  }
  .sidenav{
    top:45%;
  }
  .sidenav a{
    font-size: 10px;
    padding:5px;
  }
  .sidenav a:hover{
    padding:5px;
  }
}
.input{
  width: 100%;
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 9px 16px 7px -3px #00000063;
  outline: 0px;
}
.input:focus{
  background-color: #0e0e0e;
  color:#f1f1f1;
  border: 1px solid #4a4a4a;
}
#contattami {
  background-color: transparent;
  padding: 5px;
  margin: 150px auto 10px auto;
  color:#f1f1f1;
  width: 90%;
}
.cc{
  text-align: center;
  font-style: italic;
  text-transform:uppercase ;
}
.my_form{
  width: 100%;
  box-shadow: 6px 10px 20px 9px #00000051;
  background-color: transparent;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  padding: 10px;
  color:#f1f1f1;
  line-height: 300%;
}
#send{
  padding: 0.5rem;
  width: 90px;
  margin-top: 20px;
  border:2px solid #f1f1f1;
  transition: .3s ease-in-out;
  background-color: #4a4a4a;
  color: #f1f1f1;
  font-size: 16px;
  font-weight:900;
  letter-spacing: 2px;
}
#send:hover{
  padding: 0.7rem;
  border:3px solid #560404;
  color: #560404;
  background-color: #f1f1f1;
}

.accordion-button{
  position: static;
  height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1.5px;
  background-color: #0e0e0e !important;
}
.accordion-item{
  background-color: #370606;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-weight: 100 !important;
  letter-spacing: .5px;
}
.accordion-button:focus, .accordion-button:active{
  box-shadow: none !important;
}
.accordion, .accordion-item,.accordion-button{
  border-width:0px!important;
}